In [23]:
import pandas as pd
from sklearn.preprocessing import LabelEncoder

In [24]:
df = pd.read_csv("..\Medical_Data\healthcare_dataset_origin.csv")

In [25]:
df.head()

,Name,Age,Gender,Blood Type,Medical Condition,Date of Admission,Doctor,Hospital,Insurance Provider,Billing Amount,Room Number,Admission Type,Discharge Date,Medication,Test Results
0,Bobby JacksOn,30,Male,B-,Cancer,2024-01-31,Matthew Smith,Sons and Miller,Blue Cross,18856.281306,328,Urgent,2024-02-02,Paracetamol,Normal
1,LesLie TErRy,62,Male,A+,Obesity,2019-08-20,Samantha Davies,Kim Inc,Medicare,33643.327287,265,Emergency,2019-08-26,Ibuprofen,Inconclusive
2,DaNnY sMitH,76,Female,A-,Obesity,2022-09-22,Tiffany Mitchell,Cook PLC,Aetna,27955.096079,205,Emergency,2022-10-07,Aspirin,Normal
3,andrEw waTtS,28,Female,O+,Diabetes,2020-11-18,Kevin Wells,"Hernandez Rogers and Vang,",Medicare,37909.782410,450,Elective,2020-12-18,Ibuprofen,Abnormal
4,adrIENNE bEll,43,Female,AB+,Cancer,2022-09-19,Kathleen Hanna,White-White,Aetna,14238.317814,458,Urgent,2022-10-09,Penicillin,Abnormal

In [26]:
df.drop(columns="Name", inplace=True)

In [27]:
df.drop(columns="Date of Admission", inplace=True)

In [28]:
df.drop(columns="Room Number", inplace=True)

In [29]:
df.drop(columns="Hospital", inplace=True)

In [30]:
df.drop(columns="Discharge Date", inplace=True)

In [31]:
df.drop(columns="Insurance Provider", inplace=True)

In [38]:
df.drop(columns="Doctor", inplace=True)

In [ ]:
encoder = LabelEncoder()
df["Gender"] = encoder.fit_transform(df["Gender"])
print(df["Gender"])
print("Mapping:", dict(zip(encoder.classes_, encoder.transform(encoder.classes_))))

0        1
1        1
2        0
3        0
4        0
        ..
55495    0
55496    0
55497    0
55498    1
55499    0
Name: Gender, Length: 55500, dtype: int64

Male->1
Female->0

In [36]:
encoder = LabelEncoder()
df["Admission Type"] = encoder.fit_transform(df["Admission Type"])
print(df["Admission Type"])
print("Mapping:", dict(zip(encoder.classes_, encoder.transform(encoder.classes_))))

0        2
1        1
2        1
3        0
4        2
        ..
55495    0
55496    0
55497    2
55498    0
55499    2
Name: Admission Type, Length: 55500, dtype: int64
Mapping: {'Elective': np.int64(0), 'Emergency': np.int64(1), 'Urgent': np.int64(2)}

Elective -> 0
Emergency -> 1
Urgent -> 2

In [40]:
encoder = LabelEncoder()
df["Blood Type"] = encoder.fit_transform(df["Blood Type"])
print(df["Blood Type"])
print("Mapping:", dict(zip(encoder.classes_, encoder.transform(encoder.classes_))))

0        5
1        0
2        1
3        6
4        2
        ..
55495    6
55496    3
55497    4
55498    7
55499    6
Name: Blood Type, Length: 55500, dtype: int64
Mapping: {'A+': np.int64(0), 'A-': np.int64(1), 'AB+': np.int64(2), 'AB-': np.int64(3), 'B+': np.int64(4), 'B-': np.int64(5), 'O+': np.int64(6), 'O-': np.int64(7)}

A+ -> 0
A- -> 1
AB+ -> 2
AB- -> 3
B+ -> 4
B- -> 5
O+ -> 6
O- -> 7

In [42]:
encoder = LabelEncoder()
df["Medical Condition"] = encoder.fit_transform(df["Medical Condition"])
print(df["Medical Condition"])
print("Mapping:", dict(zip(encoder.classes_, encoder.transform(encoder.classes_))))

0        2
1        5
2        5
3        3
4        2
        ..
55495    1
55496    5
55497    4
55498    0
55499    0
Name: Medical Condition, Length: 55500, dtype: int64
Mapping: {'Arthritis': np.int64(0), 'Asthma': np.int64(1), 'Cancer': np.int64(2), 'Diabetes': np.int64(3), 'Hypertension': np.int64(4), 'Obesity': np.int64(5)}

Arthritis -> 0
Asthma -> 1
Cancer -> 2
Diabetes -> 3
Hypertension -> 4
Obesity -> 5

In [44]:
encoder = LabelEncoder()
df["Medication"] = encoder.fit_transform(df["Medication"])
print(df["Medication"])
print("Mapping:", dict(zip(encoder.classes_, encoder.transform(encoder.classes_))))

0        3
1        1
2        0
3        1
4        4
        ..
55495    4
55496    0
55497    1
55498    1
55499    1
Name: Medication, Length: 55500, dtype: int64
Mapping: {'Aspirin': np.int64(0), 'Ibuprofen': np.int64(1), 'Lipitor': np.int64(2), 'Paracetamol': np.int64(3), 'Penicillin': np.int64(4)}

Aspirin -> 0
Ibuprofen -> 1
Lipitor -> 2
Paracetamol -> 3
Penicillin -> 4

In [46]:
encoder = LabelEncoder()
df["Test Results"] = encoder.fit_transform(df["Test Results"])
print(df["Test Results"])
print("Mapping:", dict(zip(encoder.classes_, encoder.transform(encoder.classes_))))

0        2
1        1
2        2
3        0
4        0
        ..
55495    0
55496    2
55497    0
55498    0
55499    0
Name: Test Results, Length: 55500, dtype: int64
Mapping: {'Abnormal': np.int64(0), 'Inconclusive': np.int64(1), 'Normal': np.int64(2)}

Abnormal -> 0
Inconclusive -> 1
Normal -> 2

In [47]:
df.head()

,Age,Gender,Blood Type,Medical Condition,Billing Amount,Admission Type,Medication,Test Results
0,30,1,5,2,18856.281306,2,3,2
1,62,1,0,5,33643.327287,1,1,1
2,76,0,1,5,27955.096079,1,0,2
3,28,0,6,3,37909.782410,0,1,0
4,43,0,2,2,14238.317814,2,4,0

In [48]:
df.to_csv("D:\Code\TTCSCN\AI\Medical_Data\healthcare_dataset.csv", index=False)